<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="tooltip-styles.html">
<script src="tippyjs-1.4.1/dist/tippy.min.js"></script>
<link rel="stylesheet" href="tippyjs-1.4.1/dist/tippy.css">

<dom-module id="calm-tooltip">
    <template>
    <style include="tooltip-styles">
    :host {
        /*display: none;*/
        max-width: 0;
        max-height: 0;
    }
    </style>
</template>

<script>
/**
* `calm-tooltip`
* Simple tooltip element.
*
* @customElement
* @polymer
* @demo demo/index.html
*/
class CalmTooltip extends Polymer.Element {
    static get is() { return 'calm-tooltip'; }
    static get properties() {
        return {
            /**
            *   Id of the element this tooltip should stick to.
            */
            for: {
                type: String,
                notifies: true,
                observer: "_findTarget"
            },

            /**
            *   Target element this tooltip should stick to.
            */
            target: {
                type: Object,
                notifies: true,
                observer: "_onOptionsChanged"
            },

            /**
            *   Direction to position the tooltip on the element.
            *   Possible values are: top, bottom, right, left.
            *   -start and -end can be added to any of the valid values.
            */
            position: {
                type: String,
                notifies: true,
                observer: "_onOptionsChanged",
                value: "left"
            },

            /**
            *   Type of events triggering the tooltip.
            *   Possible values are: mouseenter, focus, click, manual, [costum]
            */
            trigger: {
                type: String,
                notifies: true,
                observer: "_onOptionsChanged",
                value: "mouseenter focus"
            },

            /**
            *   If the tooltip is interactive i.e. should not close if the mouse is in the tooltip.
            */
            interactive: {
                type: Boolean,
                notifies: true,
                observer: "_onOptionsChanged",
                value: false
            },

            /**
            *   Size of the invisible border preventing the interactive tooltip to close. Only if trigger is mouseenter.
            */
            interactiveBorder: {
                type: Number,
                notifies: true,
                observer: "_onOptionsChanged",
                value: 2
            },

            /**
            *   Delay for showing the tooltip (miliseconds).
            */
            delayIn: {
                type: Number,
                notifies: true,
                observer: "_onOptionsChanged",
                value: 0
            },

            /**
            *   Delay for hiding the tooltip (miliseconds).
            */
            delayOut: {
                type: Number,
                notifies: true,
                observer: "_onOptionsChanged",
                value: 0
            },

            /**
            *   Type of transition animation.
            *   Possible values are: shift, perspective, fade, scale
            */
            animation: {
                type: String,
                notifies: true,
                observer: "_onOptionsChanged",
                value: "shift"
            },

            /**
            *   Duration of the in animation (miliseconds).
            */
            durationIn: {
                type: Number,
                notifies: true,
                observer: "_onOptionsChanged",
                value: 350
            },

            /**
            *   Duration of the out animation (miliseconds).
            */
            durationOut: {
                type: Number,
                notifies: true,
                observer: "_onOptionsChanged",
                value: 350
            },

            /**
            *   If there should be an arrow pointing to the element.
            *   This option deactivates the animateFill option.
            */
            noArrow: {
                type: Boolean,
                notifies: true,
                observer: "_onOptionsChanged",
                value: false
            },

            /**
            *   The size of the arrow.
            *   Possible values are: small, regular, big
            */
            arrowSize: {
                type: String,
                notifies: true,
                observer: "_onOptionsChanged",
                value: "regular"
            },

            /**
            *   The size of the tooltip.
            *   Possible values are: small, regular, big
            */
            size: {
                type: String,
                notifies: true,
                observer: "_onOptionsChanged",
                value: "regular"
            },

            /**
            *   Adds a material design filling animation.
            *   Always false if noArrow is false.
            */
            animateFill: {
                type: Boolean,
                notifies: true,
                observer: "_onOptionsChanged",
                value: true
            },

            /**
            *   The html template id to use as the tooltip.
            */
            html: {
                type: String,
                notifies: true,
                observer: "_onOptionsChanged",
                value: null
            },

            /**
            *   The element used to search for the template element.
            */
            htmlRoot: {
                type: Object,
                notifies: true,
                observer: "_onOptionsChanged",
                value: null
            },

            /**
            *   Distance to the element.
            */
            distance: {
                type: Number,
                notifies: true,
                observer: "_onOptionsChanged",
                value: 10
            },

            /**
            *   Theme name.
            *   Possible predefined values: dark, light, transparent.
            *   You can enter your custom theme-name here (without the -theme suffix).
            *   You may use the tooltyp-styles.html style module to use the default style.
            */
            theme: {
                type: String,
                notifies: true,
                observer: "_onOptionsChanged",
                value: "dark"
            },

            /**
            *   Where to append the tooltip.
            *   Default styling will be lost if this options is being set.
            *   You may use tooltip-styles to recreate the default styling.
            */
            appendTo: {
                type: Object,
                notifies: true,
                observer: "_onOptionsChanged",
                value: null
            },

            /**
            *   Offset in x and y direction. Example: "10, 25".
            */
            offset: {
                type: String,
                notifies: true,
                observer: "_onOptionsChanged",
                value: "0,0"
            },

            /**
            *   If the tooltip shoult be hidden when the element is clicked.
            */
            hideOnClick: {
                type: Boolean,
                notifies: true,
                observer: "_onOptionsChanged",
                value: true
            },

            /**
            *   If multiple tooltips with click trigger are allowed.
            */
            multiple: {
                type: Boolean,
                notifies: true,
                observer: "_onOptionsChanged",
                value: false
            },

            /**
            *   If the tooltip should follow the cursor.
            */
            followCursor: {
                type: Boolean,
                notifies: true,
                observer: "_onOptionsChanged",
                value: false
            },

            /**
            *   If the element is currently updating the tippy options.
            */
            _updating: {
                type: Boolean,
                notifies: false,
                value: false
            }
        };
    }

    _findTarget(){
        var parentNode = this.parentNode;
        if (!parentNode){
            throw "Tooltip can not find parent node.";
        }
        this.target = parentNode.querySelector("#"+this.for);
    }

    _onOptionsChanged(){
        if (!this._updating){
            this._updating = true;
            setTimeout(function(){
                this._updating = false;
                var htmlTemplate = false;
                if (this.html != null){
                    if (this.htmlRoot){
                        htmlTemplate = this.htmlRoot.querySelector("#"+this.html) || false;
                    }
                    else{
                        htmlTemplate = this.parentNode.querySelector("#"+this.html) || false;
                    }
                }
                var appendTo = document.body;
                if (this.appendTo){
                    appendTo = this.appendTo;
                }
                var test = tippy(this.target, {
                    position: this.position,
                    trigger: this.trigger,
                    interactive: this.interactive,
                    interactiveBorder: this.interactiveBorder,
                    delay: [this.delayIn, this.delayOut],
                    animation: this.animation,
                    duration: [this.durationIn, this.durationOut],
                    arrow: !this.noArrow,
                    arrowSize: this.arrowSize,
                    size: this.size,
                    animateFill: this.animateFill,
                    html: htmlTemplate,
                    distance: this.distance,
                    theme: this.theme,
                    appendTo: appendTo,
                    offset: this.offset,
                    hideOnClick: this.hideOnClick,
                    multiple: this.multiple,
                    followCursor: this.followCursor
                });
            }.bind(this), 200);
        }
    }
}

window.customElements.define(CalmTooltip.is, CalmTooltip);
</script>
</dom-module>
