
<link rel="import" href="calm-tooltip.html">

<dom-module id="demo-element">
    <template>
        <style  include="tooltip-styles">
            :host {
                display: block;
            }
            .tippy-tooltip.honeybee-theme{
                max-width: 400px;
                color: black;
                background-color: white;
                border: 2px solid gray
            }
            #header{
                color: red;
            }
        </style>

        <span id="demo">HTML template with polymer styling in parent element.</span>
        <calm-tooltip for="demo" html="template" position="bottom" trigger="click" append-to-this theme="honeybee">
            <div id="template">
                    <h1 id="header">Advanced template</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
            </div>
        </calm-tooltip>
    </template>

    <script>
        class DemoElement extends Polymer.Element {
            static get is() { return 'demo-element'; }

            static get properties() {
                return {
                };
            }
        }

        window.customElements.define(DemoElement.is, DemoElement);
    </script>
</dom-module>
